*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Za desktop*/
@media only screen and (min-width: 700px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
body {
    text-align: center;
}


/* Za formatiranje */

.row::before,
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Menu */

.menu {
    top: 0;
    background-color: yellow;
    list-style: none;
}

.menu li:hover {
    background-color: tomato;
}

.menu li {
    border: 1px solid black;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.forms {
    margin-top: 50px;
    
    height: 250px;
}

input, select {
    border-radius: 4px;
    border: 1px solid black;
}



.nema {
    display: none;
}

body {
    background-color: burlywood;
}

table, tr, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    
    
}

table{
    width: 48.33%;
    background-color: rgba(165, 42, 42, 0.651);
}

#score {
    margin-left: 33.33%;
    
}

caption, label {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: firebrick;
}

th{
    font-style: italic;
    font-size: 18px;
}

input, button, select {
    width: 300px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

button {
    background-color: lightyellow;
}

select{
    text-align-last:right;
    padding-right: 115px;
    direction: rtl;
    font-size: 18px;
}

td{
    background-color: yellow;
    font-size: 22px;
}

td:hover {
    background-color:  rgba(165, 42, 42, 0.651);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: seagreen;
}
footer p {
    color: white;

}

#slovo {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color:black;
}

#rezultati {
margin-left: 29%;}